invoice-uploader/invoice-uploader.json
{
  "name": "invoice-uploader",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 0
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "9935377c-4540-4ef7-86a5-241099ae42d6",
      "name": "check-inbox",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "wRSeH3RDiTZKt4tk",
          "name": "Gmail Personal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              },
              "rightValue": "(factura|invoice|comprobante|cfdi|recibo)",
              "id": "b0b71369-5c5c-426d-83d6-87bebd37776b"
            },
            {
              "leftValue": "={{ ($json.text || $json.html || \"\").toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              },
              "rightValue": "(factura|comprobante fiscal|cfdi)",
              "id": "bdcfd4bd-12b8-473c-b56a-021392781438"
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "427e8e5f-ff7d-4ebb-b154-1b2119b3d1da",
      "name": "invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const result = []; for (const item of items) { const binary = item.binary || {}; const keys = Object.keys(binary).filter(k => k.startsWith('attachment_')); for (const key of keys) { result.push({ json: { emailSubject: item.json.subject, emailFrom: item.json.from, emailDate: item.json.date, fileName: binary[key].fileName || key }, binary: { data: binary[key] } }); } } return result;"
      },
      "id": "fd828d24-a8b6-47c2-834f-b697ba28b9de",
      "name": "get-attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        208
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "171bHUa5gvYUjyyA_P4bwblqyhnlgJg0L",
          "mode": "list",
          "cachedResultName": "Facturas",
          "cachedResultUrl": "https://drive.google.com/drive/folders/171bHUa5gvYUjyyA_P4bwblqyhnlgJg0L"
        },
        "options": {}
      },
      "id": "a4f5a733-61c3-47da-859b-3dc98d34c288",
      "name": "upload-drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vsZlwynisNeki5Is",
          "name": "Google Drive Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('check-inbox').first().json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        208
      ],
      "id": "3a17cbc1-f478-486a-ba3a-4314a651ddb9",
      "name": "mark-done",
      "webhookId": "ef0aa8ce-31a8-4e75-a989-09d994040195",
      "credentials": {
        "gmailOAuth2": {
          "id": "wRSeH3RDiTZKt4tk",
          "name": "Gmail Personal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        736,
        416
      ],
      "id": "3e4bacef-fe29-4e46-afa0-31c592e94c9e",
      "name": "done"
    }
  ],
  "pinData": {},
  "connections": {
    "check-inbox": {
      "main": [
        [
          {
            "node": "invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice?": {
      "main": [
        [
          {
            "node": "get-attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-attachments": {
      "main": [
        [
          {
            "node": "upload-drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload-drive": {
      "main": [
        [
          {
            "node": "mark-done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "871c19e7-bb6e-4498-9cbb-e6299a921162",
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "instanceId": "2148c11bd9392f64397ae662ec9fcbde733ea0a73464f15d2dd9fd98548c6830"
  },
  "id": "a4w29H1Jol4imKbs",
  "tags": []
}