basic-crm/basic-crm.json
{
  "name": "basic-crm",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contáctanos",
        "formDescription": "Déjanos tus datos y pronto nos pondremos en contacto contigo.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo",
              "fieldName": "nombre",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo electrónico",
              "fieldType": "email",
              "fieldName": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Empresa",
              "fieldName": "empresa"
            },
            {
              "fieldLabel": "Mensaje",
              "fieldType": "textarea",
              "fieldName": "mensaje"
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Gracias por tu interés. Pronto nos pondremos en contacto contigo."
            }
          }
        }
      },
      "id": "032074aa-7d6f-4ec7-a01c-8d5bb9de98d8",
      "name": "Formulario de Lead",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        208,
        256
      ],
      "webhookId": "b220d6e0-8f6a-4417-a4d0-a6bd39fd5183"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente de ventas. Evalúa el siguiente lead y devuelve un score del 1 al 10, una etiqueta (hot, warm o cold) y un breve razonamiento.\n\nNombre: {{ $('Formulario de Lead').item.json.nombre }}\nEmpresa: {{ $('Formulario de Lead').item.json.empresa }}\nMensaje: {{ $('Formulario de Lead').item.json.mensaje }}\n\nResponde SOLO con el JSON estructurado.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "b0618d89-d4a3-4d2c-9ef4-f8be23fde2a5",
      "name": "Scoring AI del Lead",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"score\": 7, \"label\": \"warm\", \"reasoning\": \"El lead trabaja en una empresa mediana con interés claro en los servicios.\" }"
      },
      "id": "6a6d7229-b3fe-4853-ba2e-9445124ffc6a",
      "name": "Parser Scoring",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.4,
      "position": [
        880,
        224
      ],
      "id": "0c195f0e-4492-4a41-8795-868c79338a44",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "8gXSeWm84rxtnMYG",
          "name": "Anthropic Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "id": "a36aec3e-5f09-43f2-b269-15494894ea68",
      "name": "Buscar Lead duplicado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QqUnbF4S8xoWPTlk",
          "name": "Supabase Personal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "id": "a4ba1981-cb39-4af0-b3f5-a8012f3961dc"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44aa9861-81e4-4df8-869a-b9d66951ecbf",
      "name": "Check duplicado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        256
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ \"Lead duplicado: el email \" + $json.email + \" ya existe en la base de datos.\" }}"
      },
      "id": "7a8148ef-f8a5-485b-95ae-8edaf05c2baf",
      "name": "Stop (Lead duplicado)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $('Formulario de Lead').item.json.nombre }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Formulario de Lead').item.json.email }}"
            },
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $('Formulario de Lead').item.json.empresa }}"
            },
            {
              "fieldId": "mensaje",
              "fieldValue": "={{ $('Formulario de Lead').item.json.mensaje }}"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $json.output.score }}"
            },
            {
              "fieldId": "label",
              "fieldValue": "={{ $json.output.label }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $json.output.reasoning }}"
            }
          ]
        }
      },
      "id": "922d61a3-da2b-41a3-a937-af1dc25a89dd",
      "name": "Insertar Lead en supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "QqUnbF4S8xoWPTlk",
          "name": "Supabase Personal"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tuagente@empresa.com",
        "subject": "={{ \"Nuevo lead: \" + $(\"Formulario de Lead\").item.json.nombre + \" — Score: \" + $(\"Scoring AI del Lead\").item.json.output.score }}",
        "message": "=<h2>Nuevo lead capturado</h2><p><strong>Nombre:</strong> {{ $(\"Formulario de Lead\").item.json.nombre }}</p><p><strong>Email:</strong> {{ $(\"Formulario de Lead\").item.json.email }}</p><p><strong>Empresa:</strong> {{ $(\"Formulario de Lead\").item.json.empresa }}</p><p><strong>Mensaje:</strong> {{ $(\"Formulario de Lead\").item.json.mensaje }}</p><hr><p><strong>Score AI:</strong> {{ $(\"Scoring AI del Lead\").item.json.output.score }} / 10</p><p><strong>Clasificación:</strong> {{ $(\"Scoring AI del Lead\").item.json.output.label }}</p><p><strong>Razonamiento:</strong> {{ $(\"Scoring AI del Lead\").item.json.output.reasoning }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fb36466c-eec4-4820-b0f9-bbb9c2976b28",
      "name": "Email al agente de ventas",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        16
      ],
      "webhookId": "b879e059-cbce-46c1-9fc6-043a4858bcc4",
      "credentials": {
        "gmailOAuth2": {
          "id": "wRSeH3RDiTZKt4tk",
          "name": "Gmail Personal"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario de Lead').item.json.email }}",
        "subject": "Gracias por contactarnos — Pronto nos comunicaremos contigo",
        "message": "=<p>Hola {{ $(\"Formulario de Lead\").item.json.nombre }},</p><p>Gracias por contactarnos. Hemos recibido tu información y pronto un miembro de nuestro equipo se pondrá en contacto contigo.</p><p>Saludos,<br>El equipo de ventas</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "910e1191-1e07-472b-9aea-54acfa498e6b",
      "name": "Email de confirmación al Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        208
      ],
      "webhookId": "387c6a74-6936-458a-aadb-eaa8e9f402c4",
      "credentials": {
        "gmailOAuth2": {
          "id": "wRSeH3RDiTZKt4tk",
          "name": "Gmail Personal"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Formulario de Lead": {
      "main": [
        [
          {
            "node": "Buscar Lead duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring AI del Lead": {
      "main": [
        [
          {
            "node": "Insertar Lead en supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Scoring": {
      "ai_outputParser": [
        [
          {
            "node": "Scoring AI del Lead",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scoring AI del Lead",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead duplicado": {
      "main": [
        [
          {
            "node": "Check duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicado": {
      "main": [
        [
          {
            "node": "Scoring AI del Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop (Lead duplicado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Lead en supabase": {
      "main": [
        [
          {
            "node": "Email al agente de ventas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email de confirmación al Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "4e5a646c-1efd-494b-8c07-5ef5167c5c9f",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "2148c11bd9392f64397ae662ec9fcbde733ea0a73464f15d2dd9fd98548c6830"
  },
  "id": "pEQ1PcodaBCaVpmv",
  "tags": []
}